---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio JivaJr">
	<main>
		<h1>Hey, Soy Javier <Badge>Disponible para trabajar</Badge></h1>
		<h2>+2 Años de experiencia. Ingeniero y Desarrollador Web FullStack. De Colombia. Especializado en el desarrollo de interfaces unicas y escalables.</h2>
	</main>
</Layout>

